nav {
  font-size: 12px;
  color: hsl(219, 9%, 45%);
}

/* ... Autres styles ... */

.sidebar {
  display: none; /* Cachez le sidebar par défaut sur les écrans larges */
}

.hamburger-btn {
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: #000; /* Choisissez la couleur souhaitée */
}

.sidebar-content {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #fff; /* Choisissez la couleur souhaitée */
  overflow-x: hidden;
  transition: 0.5s;
}

/* Affichez le sidebar lorsqu'il est actif (ouvert) */
.sidebar.active .sidebar-content {
  width: 250px;
}
