@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kumbh";
  font-weight: 400;
  src: url("./assets/KumbhSans-VariableFont_YOPQ,wght.ttf");
}

@font-face {
  font-family: "Kumbh";
  font-weight: 700;
  src: url("./assets/KumbhSans-VariableFont_YOPQ,wght.ttf");
}

:root {
  font-family: "Kumbh", sans-serif;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
